/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
 /* Space out the masthead */
.header {
margin-bottom: 30px;
}

 .fancybox-thumb {
background: no-repeat;
width: 200px;
height: 200px;
display: inline-block;
background-position: center;
margin: 15px;
border-radius: 0;
border: 1px solid #dddddd;
background-color: rgb(255,255,255);
box-shadow: rgba(187, 187, 187, 0.5) 1px 1px;
text-align: center;
}


::selection {
	background-color: pink;
	color: white;
}
	
::-moz-selection {
	background-color: pink;
	color: white;
}


.nav li::active{
	text-decoration: underline;
}

.about_autor{
margin: 10px;
box-shadow: 20px 0px 28px -15px rgba(201,207,210,0.5);

}

.contacts{
height: 100px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: #ffffff;
background-color: #f77c82;
}

a:hover, a:focus {
color: #f77c82;
text-decoration: underline;
}

.nav-pills > li > a {
border-radius: 0;
}

a {
color: #747474;
}

.nav{
line-height: 220%;
}

.fancybox-title-float-wrap 
.child {
background: rgba(255, 255, 255, 0.9);
border-radius: 0;
text-shadow: 0 1px 2px white;
color: #747474;
}
